.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Am mutat aici toate clasele generale */

/* clasa ce va fi atribuita tuturor containeelor */
.container {
  width: Max(319px, 90%);
  padding: 0.8rem;
  margin: 2rem auto;
}
