$price_bkg: #9d0208;
$font_color_price: white;
$font_color_description: white;

.expense_item {
  // width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.8rem 0;
  background-color: rgb(49, 49, 49);
  position: relative;

  &__description {
    margin: 0.5rem 1.2rem;
    color: red;
    display: flex;
    //flex-flow -> 2 parametrii: directia si wrap (wrap; no-wrap; wrap-reverse)
    flex-flow: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex: 1;

    > h2 {
      font-size: 1.1rem;
      margin: 0 1rem;
    }
  }

  &__price {
    font-size: 1.1rem;
    font-weight: 600;
    color: $font_color_price;
    padding: 0.7rem;
    background-color: $price_bkg;
    border: 1px solid white;
    border-radius: 0.4rem;
  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    line-height: 0.7;
    border: none;
    border-radius: 0.5rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
    background-color: #564f4f;
    color: #b0abab;
    opacity: 0.5;
    transition: all 0.1s ease-out;

    &:hover {
      opacity: 1;
      background-color: #858282;
    }
  }
}

@media screen and (min-width: 580px) {
  .expense_item {
    &__description {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // flex-flow: row;

      > h2 {
        font-size: 1.4rem;
      }
    }

    &__price {
      font-size: 1.3rem;
      padding: 0.7rem 1.6rem;
      margin-right: 1rem;
    }
  }
}
